.wd-courses-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;

  }
  .wd-courses-navigation li {
    padding-left: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .wd-courses-navigation li.wd-active {
    border-left: 2px solid black;
  }
  .wd-courses-navigation li.wd-active a {
    color: black;
  }
  .wd-courses-navigation a {
    color: red;
    text-decoration: none;
  }
  