.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.wd-modules {
  margin: 5px;
}


.wd-modules-top-buttons-row {
    padding-top: 16px;
}
.wd-modules-top-buttons-row .btn {
    background-color: gainsboro;
    border: 1px solid gray;
    margin-left: 3px;
    margin-right: 3px;
}
.wd-modules-button-icon-left {
    margin-right: 5px;
}
.wd-modules-button-icon-right {
    margin-left: 5px;
}

#button-red {
    background-color: red;
    color: white;
}

.wd-modules > li {
  background-color: gainsboro;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 8px;
  border-left: 1px solid gray !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 4px solid green;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}


.wd-modules > li {
  margin-bottom: 20px;
}

.wd-modules i {
    margin-left: 5px;
    margin-right: 5px;
}

.wd-modules-float-right {
  float: right;
}
.wd-modules-text-indent {
    text-indent: 30px;
    display: inline-block;
}
.wd-modules-link-indent {
    text-indent: 5px;
    display: inline-block;
}
.wd-modules-link-icon {
    font-size: 12px;
    vertical-align: middle;
    padding-top: auto;
    padding-bottom: auto;
}
.wd-modules-link {
    color: red;
    text-decoration: none;
}