.top-row-buttons {
    background-color: gainsboro;
    border: 1px solid black;
}

.search-prepend-magnifying-glass {
    background-color: white;

}

.grading-table th {
    vertical-align: middle;
}

.grading-table .minor-table-text {
    font-weight: lighter;
    color: gray;
}

.grading-table .student-name-col {
    width: 300px;
}

.grading-table .grade-data-column {
    width: 200px;
}

.red-link {
    text-decoration: none;
    color: red;
}

